body{
    font-family: 'Zawgyi-One','Courier New', Courier, monospace,'Uni Mon';
}
.text {
    margin-top: 80px;
}
.exercises{
    padding: 5px;
    margin-top: 20px;
}
.note-que {
    border-left: 3px solid rgb(196, 112, 2);
}
.note-ans {
    border-left: 3px solid rgb(12, 194, 21);
}
.note {
    margin-left: 20px;
}
.root {
    text-decoration: overline;
}
.devided {
    font-style: bold;
}
button,spanq {
    margin-top: 10px;
}
#more {
    display: none;
}
.label {
    color: #ddd;
    font-size: 15px;
}
span {
    color: #28a745;
}