body{
    font-family: 'Zawgyi-One','Courier New', Courier, monospace,'Uni Mon';
}
h1 {
    font-size: 50px;
}
.navbar-brand-title {
    color: #fff;
    font-size: 30px;
}
.heading-header {
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0 3px 3px #555;
    background: #fff;
}
.intro-header {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,'Zawgyi-One','Uni Mon';
}
.mm-header {
    font-size: 40px;
    letter-spacing: 4px;
}
nav{
    box-shadow: 0px 3px 1px #ddd;
    background: #fff;
}
a.nav-link:hover {
    text-shadow: 3px 3px 5px #555;
}
a.nav-link {
    color: rgb(255, 255, 255) !important;
}
a.navbar-brand {
    color: #555;
}
.intro-text {
    padding: 20px;
}
.header {
    height: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}
input[type='text'], .search-key {
    margin-top: 50px;
}

.search-key {
    width: 80px;
}
.section-list {
    height: auto;
    background: rgb(238, 237, 237);
    padding-bottom: 20px;
}
.list-header h1{
    margin-bottom: 20px;
    padding-top: 100px;
}
a.btn {
    width: 100%;
    margin: 0 auto;
    border: 2px solid;
}

.section-intro {
    height: auto;
    padding: 100px 0 80px 0;
}
.section-concept {
    height: auto;
}
.concept-view h1 {
    padding-bottom: 20px;
}
.concept-row {
    margin-bottom: 20px;
}
.concept-view {
    padding-top: 100px;
    padding-bottom: 120px;
}
.concept-card {
    margin-bottom: 10px;
}
.concept-img {
    margin-left: 80px;
}
.concept-txt {
    margin: 20px auto;
}


.section-about {
    height: auto;
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(238, 236, 236);
}
.section-about h1 {
    padding-top: 100px; 
}
.section-contact {
    height: 600px;
    margin-top: 80px;   
}
.check {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    margin-top: 10px;
}
img {
    cursor: pointer;
}
.header-mgb {
    margin-bottom: 40px;  
    width: 80%;
    margin: 0 auto;
    box-shadow: 3px 3px 3px #555;
}
@media(min-width:720px) {
    .header-mgb {
        margin-bottom: 40px;  
        width: 50%;
        margin: 0 auto;
    }
}
.mgb {
    margin-bottom: 40px;  
    width: 80%;
    margin: 0 auto;
    box-shadow: 3px 4px 4px #555;
    margin-top: 20px;
}
.card-list {
    box-shadow: 0 7px 7px #555;
}
@media(max-width: 786px) {
    .stict {
        border-right: 0;
    }
}
.stict {
    height: 300px;
    border-right: 2px solid #555;
}
.arrow:hover {
    text-decoration: none;
}
.bottom-down-arrow {
    animation: pulse 5s infinite;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 10px;
}
.top-up-arrow {
    animation: pulse 5s infinite;
    border: 3px solid #fff;
    border-radius: 100px;
    padding: 10px;
}
@keyframes pulse {
    50% {
        box-shadow: 0px 10px 3px #555;
    }
}
