.label {
    margin-top: 10px;
}
body {
    font-family: "Zawgyi-One",Arial, Helvetica, sans-serif,'Uni Mon';
}

h1 {
    padding: 15px;
    text-align: center;
}
.navbar-brand {
    font-size: 15px;
}
.sub-header {
    border-bottom: 5px solid #ddd;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section {
    padding-top: 80px;
}
.text {
    border-top: 0;
    padding-top: 80px;
}
a.nav-link:hover {
    text-shadow: 3px 3px 3px #555;
}
a {
    color: #000;
}
a:hover {
    color: #000;
}
a:focus {
    color: #f00;
}
.mecha-img {
    cursor: pointer;    
}
.exp-img {
    margin-top: 40px;
}
.course {
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    font-family: "Zawgyi-One",Arial, Helvetica, sans-serif,'Uni Mon';
}
.checked {
    color: orange;
}
.formula {
    border: 1px solid #000;
    padding: 4px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.label-btn {
    margin-top: 20px;
    margin-bottom: 30px;
}
.mgb {
    margin-bottom: 40px;  
    width: 80%;
    margin: 0 auto;
}
.label-btn {
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer {
    padding: 20px;
    color: #fff;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.date {
    color: #ddd;
    font-family: 'Times New Roman', Times, serif;
}
.media {
    margin-bottom: 10px;
    padding: 10px;
}
.data-file-bg {
    padding-top: 20px;
    background: rgb(236, 236, 236);   
}
.media {
    background: #fff;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.degree {
    font-size: 10px;
}
.ref {
    font-size: 8px;
}